@tailwind base;
@tailwind components;

body {
	@apply bg-green-50;
}

.text-stroke {
	color: black;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
}

@tailwind utilities;
